body {
    font-family: 'Arial', sans-serif;
    background: #ededed;
    font-size: 14px;
}

.wrapper {
    max-width: 1000px;
    min-width: 380px;
    margin: 0 auto;
}

header {
    margin-top: 109px;
    margin-bottom: 75px;
    background: #474747;
    width: 100%;
    height: 140px;
}

header h3 {
    vertical-align: top;
    margin: 0;
    display: inline-block;
    color: #c6c6c6;
    font-size: 20px;
    width: 50%;
    padding-left: 8%;
    padding-top: 25px;
}

.box {
    display: inline-block;
    background: #2f549b;
    color: #fff;
    width: 40%;
    height: 160px;
    margin-top: -10px;
    box-shadow: 0px 2px 9px 0px rgb(19, 19, 19, 19);
}

.box-img {
    display: inline-block;
    width: 25%;
    text-align: center;
    margin-left: 10px;
    vertical-align: bottom;
}

.box-img img {
    width: 62px;
    height: 71px;
}

.box p {
    display: inline-block;
    font-size: 62px;
    width: 38%;
    margin: 0;
    padding-top: 47px;
}

.box small {
    display: inline-block;
    width: 30%;
    color: #c6c6c6;
    font-size: 25px;
    margin-left: 10px;
}

.block2 {
    margin-left: 8%;
    padding-top: 10px;
}

.item {
    display: inline-block;
    background: #fff;
    width: 200px;
    height: 400px;
    margin-right: 15px;
    border: 1px solid #c4c4c4;
}

.item:last-child {
    margin-right: 0;
}

.item:hover {
    background: #2f549b;
}

.item:hover p {
    color: #fff;
}

.item:hover a {
    color: #fff;

}

.item:hover h2 {
    color: #fff;
}

.item img {
    padding: 20px 40px;
}

.first {
    padding-top: 19px;
}

.second {
    padding-top: 4px;
}

.item h2 {
    font-size: 30px;
    color: #2f549b;
    font-weight: normal;
    text-align: center;
}

.item p {
    color: #2f549b;
    text-align: center;
}

.txt {
    position: relative;
}

.txt::before {
    content: "";
    position: absolute;
    border-top: 1px solid #ccc;
    width: 100px;
    top: 0;
    left: 50px;
    padding-bottom: 20px;
}

.txt p {
    color: #5e5e5e;
    padding-top: 15px;
    text-align: center;
}
.item:hover .txt p{
    color: #7c9cdb;
}
.txt a {
    color: #b8b2b2;
    text-transform: capitalize;
    padding-left: 60px;
}

.box3 {
    width: 250px;
position: relative;
margin: 0 auto;

}
.box3::before{
content: "";
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 18px 20px 0 0;
border-color: #1f3560 transparent transparent transparent;
bottom: 0;
right: -20px;

}
.box3::after{
content: "";
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 0 20px 18px 0;
border-color: transparent #1f3560 transparent transparent;
bottom: 0;
left: -20px;

}
.box3 h3 {
    padding: 15px 30px;
    background: #2f549b;
    color: #fff;
    font-size: 22px;
    font-weight: normal;
}

.block3 {
    margin-left: 8%;
    border-top: 2px solid #989898;
    background: #c6c6c6;
    width: 86%;
    margin-bottom: 50px;
    margin-top: -40px;

}

.block3 .item3 {
    display: inline-block;
    width: 140px;
}

.block3 .item3 p {
    color: #666666;
    text-align: center;

}
.fa {
    font-size: 35px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    color: #70a7f3;
    padding: 20px 0px 0 50px;

}

.item3:hover{
    background: #2f549b;

    
   
}
.item3 a{
    text-decoration: none;
}
.item3:hover .fa{
    color: #fff;
}
.item3:hover p{
    color:#fff;
}